{% extends "transaksi/base.html" %}

{% block content %}

<div class="mb-4">
    <h3 class="mb-1">Dashboard Pengeluaran</h3>
    <p class="text-muted mb-0">
        Pilih tanggal untuk melihat catatan pengeluaran.
    </p>
</div>

<div class="mb-4">
    <a href="{% url 'detail_pengeluaran_tanggal' hari_ini|date:'Y-m-d' %}" class="btn btn-primary">
        Detail Hari Ini
    </a>

    {% comment %} <a href="{% url 'batas_pengeluaran_harian' %}" class="btn btn-warning">
        Atur Batas Hari Ini
    </a> {% endcomment %}

    <a href="{% url 'set_catatan_harian' %}" class="btn btn-dark">
        Ringkasan Hari Ini
    </a>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Hasil Pengeluaran 7 Hari Terakhir</h5>
    </div>

    <div class="card-body">
        <canvas id="trenPengeluaranChart" height="100"></canvas>
    </div>
</div>

<div class="row">
    {% for tanggal in daftar_tanggal %}
    <div class="col-md-3 mb-3">
        <a href="{% url 'detail_pengeluaran_tanggal' tanggal|date:'Y-m-d' %}"
           class="text-decoration-none">

            <div class="card shadow-sm {% if tanggal == hari_ini %}border-primary{% endif %}">
                <div class="card-body text-center">

                    {% if tanggal == hari_ini %}
                        <span class="badge bg-primary mb-2">Hari Ini</span>
                    {% else %}
                        <span class="badge bg-secondary mb-2">Riwayat</span>
                    {% endif %}

                    <h5 class="mb-1">
                        {{ tanggal|date:"d F Y" }}
                    </h5>

                    <small class="text-muted">
                        Klik untuk melihat detail
                    </small>
                </div>
            </div>

        </a>
    </div>
    {% endfor %}
</div>

{% comment %} {{ daftar_tanggal|json_script:"daftar-tanggal" }} {% endcomment %}
{{ chart_tanggal_label|json_script:"chart-tanggal-label" }}
{{ chart_tanggal_data|json_script:"chart-tanggal-data" }}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
    const tanggalLabel = JSON.parse($("#chart-tanggal-label").text());
    const tanggalData = JSON.parse($("#chart-tanggal-data").text());
    
    const formatRupiah = function(value){
        return "Rp. " + Number(value).toLocaleString("id-ID")
    }

    const totalTrenHasilPengeluaranCanvas = $("#trenPengeluaranChart");

    if(totalTrenHasilPengeluaranCanvas){
        new Chart(totalTrenHasilPengeluaranCanvas, {
            type: "line",
            data: {
                labels: tanggalLabel,
                datasets: [{
                    label: "Total Pengeluaran",
                    data: tanggalData,
                    borderWidth: 2,
                    tension: 0.4,
                    fill: true,
                    pointRadius: 4,
                    pointHoverRadius: 6
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            callback: function(value){
                                return formatRupiah(value)
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context){
                                return "Pengeluaran: " + formatRupiah(context.raw)
                            }
                        }
                    }
                }
            }
        });
    }

</script>


{% endblock %}